@font-face {
    font-family: "Onest";
    src: url('/fonts/Onest-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "Onest";
    src: url('/fonts/Onest-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Onest";
    src: url('/fonts/Onest-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Onest";
    src: url('/fonts/Onest-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}